$maxMobWidth: 768px;

//colors:
$decoration_color: #f9f9f9;
$additional_color: #e8e8e8;
$main_text_color: #000000;
$contrast_text_color: #fff;
$link_color: #073763;
$section_background: #e3f1ff;
$button_color: #ff642f;
